{% extends "base.html" %}

{% block styles %}

{{super()}}
{% import 'bootstrap/wtf.html' as wtf %}
<link rel="stylesheet" href="{{ url_for('static',filename='styles/autocomplete.css') }}"">

<style>
    div.selected-item {
        width:500px;
        background-color: #f1f1f1;;
        margin-top: 2px;
        padding: 10px;
    }

    td {
        padding: 10px;
    }

    th {
        padding: 10px;
    }
</style>
{% endblock %}


{% block app_content %}

<div class="container">
    <div class="card-body">
        <div class="mt-4">

            <form autocomplete="off" id="transaction-form" action="">
                <div class="autocomplete" style="width:500px;">
                  <input id="myInput" type="text" name="myInputName" placeholder="Start typing...">
                  <input id="myInputBarcode" type="hidden" name="myInputBarcode" value=-1>
                  <input id="myInputPrice" type="hidden" name="myInputPrice" value=0>
                </div>
                <button id="add-button" type="button">Add</button>
            </form>
            <div id="selected-items" >

            </div>
            <div>
                <table class="table" id="selected-items-table">
                    <thead class="thead-light" id="selected-items-thead"> 
                      
                    </thead>
                    <tbody id="selected-items-tbody">

                    </tbody>
                    <tfoot id="selected-items-tfoot">
  
                    </tfoot>

                </table>
            </div>    
            <div>
                <table id="example" class="display" width="100%"></table>
            </div>
            <div id="example-react-container">

            </div>
        </div>
    </div>
</div>


{% endblock %}


{% block scripts %}

<!-- JQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>


<script src="{{ url_for('static',filename='js/autocomplete_items.js') }}"> </script>
<script src="{{ url_for('static',filename='js/basket.js') }}"> </script>




<script>

    let basket = []

    //autocomplete(document.getElementById("myInput"), countries);

    //addItem("myInput", "add-button")   
    

</script>

{% endblock %}