{% extends "base.html" %}

{% block styles %}

{{super()}}

<!-- Datatable -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css">

<!-- Stylesheet for modal Add Item form -->
<link rel="stylesheet" href="{{ url_for('static',filename='styles/addItemModal.css') }}">



{% endblock %}

{% import 'bootstrap/wtf.html' as wtf %}

{% block item_content %}

{% endblock %}

{% block app_content %}

<div class="container">
    <div class="card-body">
        <div class="mt-4">

            <!-- Trigger/Open The Modal -->
        <button id="addItemBtn">Add item</button>

        <!-- The Modal -->
        <div id="addItemModal" class="modal">
            <!-- Modal content -->
            <div class="modal-content">
                <span class="close">&times;</span>
                <div class="container">
                    <h1>Add item</h1>
                    <div class="row">
                        <div class="col-md-4">
                            {{ wtf.quick_form(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>


            <table id="example" class="display" style="width:100%">
                <thead>
                <tr>
                    <th>Barcode</th>
                    <th>Item</th>
                    <th>Price</th>
                    <th>Amount</th>
                </tr>
                </thead>

            </table>
            <button id="ajax_refresh">Refresh data</button>
            <p id="view_row_data"></p>
        </div>
    </div>
</div>
{% endblock %}


{% block scripts %}

<!-- JQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Datatable -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script>
<script type = "text/javascript"  src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script type = "text/javascript"  src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
<script type = "text/javascript"  src="https://cdn.datatables.net/plug-ins/1.10.15/dataRender/datetime.js"></script>

<!-- Datatable instance -->
<script >
$(document).ready(function() {
    example_table = {
        "scrollX": true,
        "pageLength": 10,
        "processing": true,

        "ajax": {
        "url" : "/items/ajax_data/",
        "dataType" : "json",
        "type": "POST",
        "dataSrc": "data"
        },
        "columns": [
            {data: "barcode"},
            {data: "name"},
            {data: "price"},
            {data: "amount"},
            {data: "id", visible : false}
        ],

    } ;



    // Updating data on server side
    $('#ajax_refresh').click( function () {

        table.ajax.reload(null, false);
    });


    // instantiate datatable
    var table = $('#example').DataTable(example_table);


    // Get the modal
var modal = document.getElementById("addItemModal");

// Get the button that opens the modal
var btn = document.getElementById("addItemBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks on the button, open the modal
btn.onclick = function() {
  modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}

} );




</script>

<!-- Enable row editing button -->
<script src="{{ url_for('static',filename='js/table_editable_content_btn.js') }}"> </script>


{% endblock %}
