{% extends "base.html" %}

{% block styles %}

{{super()}}

<!-- Datatable -->

<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/editable_html5.css') }}">


{% endblock %}

{% block content %}

<div class="container">
    <h3>HTML5 Editable Table</h3>

    <div id="table" class="table-editable">
        <span class="table-add glyphicon glyphicon-plus"></span>
        <table class="table responsive">
            <tr>
                {% for header in fieldnames %}
                <th>{{header}}</th>
                {% endfor %}
            </tr>
              <!-- This is our clonable table line -->
            <tr class="hide">
                {% for index in range(0, len(fieldnames)) %}
                <td contenteditable="true">Untitled</td>
                {% endfor %}
                <td>
                    <span class="table-remove glyphicon glyphicon-remove"></span>
                </td>
                <td>
                    <span class="table-up glyphicon glyphicon-arrow-up"></span>
                    <span class="table-down glyphicon glyphicon-arrow-down"></span>
                </td>
            </tr>

            {% for row in results %}
                <tr>
                    {% for index in range(0, len(fieldnames)) %}
                        <td contenteditable="true">{{row[fieldnames[index]]}}</td>
                    {% endfor %}
                    <td>
                        <span class="table-remove glyphicon glyphicon-remove"></span>
                    </td>
                    <td>
                        <span class="table-up glyphicon glyphicon-arrow-up"></span>
                        <span class="table-down glyphicon glyphicon-arrow-down"></span>
                    </td>
                </tr>
            {% endfor %}

        </table>
    </div>

    <button id="export-btn" class="btn btn-primary">Export Data</button>
    <p id="export"></p>

</div>

{% endblock %}


{% block scripts %}

<!-- JQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Export Data
<script src="{{ url_for('static',filename='js/editable_html5.js') }}"> </script>-->

<script>
var $TABLE = $('#table');
var $BTN = $('#export-btn');
var $EXPORT = $('#export');

$('.table-add').click(function () {
  var $clone = $TABLE.find('tr.hide').clone(true).removeClass('hide table-line');
  $TABLE.find('table').append($clone);
});

$('.table-remove').click(function () {
  $(this).parents('tr').detach();
});

$('.table-up').click(function () {
  var $row = $(this).parents('tr');
  if ($row.index() === 1) return; // Don't go above the header
  $row.prev().before($row.get(0));
});

$('.table-down').click(function () {
  var $row = $(this).parents('tr');
  $row.next().after($row.get(0));
});

// A few jQuery helpers for exporting only
jQuery.fn.pop = [].pop;
jQuery.fn.shift = [].shift;

$BTN.click(function () {
  var $rows = $TABLE.find('tr:not(:hidden)');
  var headers = [];
  var data = [];

  // Get the headers (add special header logic here)
  $($rows.shift()).find('th:not(:empty)').each(function () {
    headers.push($(this).text().toLowerCase());
  });

  // Turn all existing rows into a loopable array
  $rows.each(function () {
    var $td = $(this).find('td');
    var h = {};

    // Use the headers from earlier to name our hash keys
    headers.forEach(function (header, i) {
      h[header] = $td.eq(i).text();
    });

    data.push(h);
    console.log('test')

    var value_data = [1, 2, 3, 4];

    $.ajax({
        type: 'POST',
        url: '/items/upload_file1',
        data: JSON.stringify(data),
        contentType: 'application/json',
        success: function (response_data) {
        }
    });

  });

  // Output the result
  $EXPORT.text(JSON.stringify(data));

});

</script>

{% endblock %}
