{% extends "base.html" %}

{% block styles %}

{{super()}}

<!-- Datatable -->

<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/editable_html5.css') }}">


{% endblock %}

{% block content %}

<div class="container">
    <h1>HTML5 Editable Table</h1>
    <p>Through the powers of <strong>contenteditable</strong> and some simple jQuery you can easily create a custom editable table. No need for a robust JavaScript library anymore these days.</p>

    <ul>
        <li>An editable table that exports a hash array. Dynamically compiles rows from headers</li>
        <li>Simple / powerful features such as add row, remove row, move row up/down.</li>
    </ul>

    <div id="table" class="table-editable">
        <span class="table-add glyphicon glyphicon-plus"></span>
        <table class="table">
            <tr>
                <th>Name</th>
                <th>Value</th>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <td contenteditable="true">Stir Fry</td>
                <td contenteditable="true">stir-fry</td>
                <td>
                    <span class="table-remove glyphicon glyphicon-remove"></span>
                </td>
                <td>
                    <span class="table-up glyphicon glyphicon-arrow-up"></span>
                    <span class="table-down glyphicon glyphicon-arrow-down"></span>
                </td>
            </tr>
            <!-- This is our clonable table line -->
            <tr class="hide">
                <td contenteditable="true">Untitled</td>
                <td contenteditable="true">undefined</td>
                <td>
                    <span class="table-remove glyphicon glyphicon-remove"></span>
                </td>
                <td>
                    <span class="table-up glyphicon glyphicon-arrow-up"></span>
                    <span class="table-down glyphicon glyphicon-arrow-down"></span>
                </td>
            </tr>
        </table>
    </div>

    <button id="export-btn" class="btn btn-primary">Export Data</button>
    <p id="export"></p>
</div>

{% endblock %}


{% block scripts %}

<!-- JQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Table JS -->
<script src="{{ url_for('static',filename='editable_html5.js') }}"> </script>


<script>
var $BTN = $('#export-btn');
var $TABLE = $('#table');
var $EXPORT = $('#export');


// A few jQuery helpers for exporting only
jQuery.fn.pop = [].pop;
jQuery.fn.shift = [].shift;

$BTN.click(function () {
  var $rows = $TABLE.find('tr:not(:hidden)');
  var headers = [];
  var data = [];

  // Get the headers (add special header logic here)
  $($rows.shift()).find('th:not(:empty)').each(function () {
    headers.push($(this).text().toLowerCase());
  });

  // Turn all existing rows into a loopable array
  $rows.each(function () {
    var $td = $(this).find('td');
    var h = {};

    // Use the headers from earlier to name our hash keys
    headers.forEach(function (header, i) {
      h[header] = $td.eq(i).text();
    });

    data.push(h);
    console.log('test')

  });

  // Output the result
  $EXPORT.text(JSON.stringify(data));

    $.ajax({
        type: 'POST',
        url: '/items/postmethod',
        data: JSON.stringify(data),
        contentType: 'application/json',
        success: function (response_data) {
        alert("success");
        }
    });
});
</script>


{% endblock %}
