{% extends 'bootstrap/base.html' %}

{% block title %}
    {% if title %}{{ title }} - App{% else %} IMIJ app{% endif %}
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-default">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li><a href="{{ url_for('main.index') }}">{{ ('Home') }}</a></li>
            <li><a href="{{ url_for('items.datatable_ajax') }}">{{ ('Table AJAX') }}</a></li>
            <li><a href="{{ url_for('transactions.transaction') }}">{{ ('Transaction') }}</a></li>
            
        </ul>
    </div>
</nav>
{% endblock %}

{% block content %}
<div class="container">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-info" role="alert">{{ message }}</div>
    {% endfor %}
    {% endif %}
    {% endwith %}

    {# application content needs to be provided in the app_content block #}
    {% block app_content %}{% endblock %}
</div>
{% endblock %}